<!-- templates/fragments/chatbot.html -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<div th:fragment="chatbot">
  <!-- 챗봇 버튼 -->
  <div id="chatbot-floating-btn">💬</div>

  <!-- 배경 -->
  <div id="chatbot-modal-bg"></div>

  <!-- 챗봇 모달 -->
  <div id="chatbot-modal">
    <div style="display: flex; justify-content: flex-end; padding: 10px;">
      <button id="chatbot-close-btn">✖</button>
    </div>
    <div id="chatbot-messages"></div>
    <form id="chatbot-form">
      <input id="chatbot-input" type="text" placeholder="메시지를 입력하세요..." />
      <button type="submit">
      	<i class="fas fa-paper-plane"></i>
      </button>
    </form>
  </div>
</div>
