<div th:fragment="mainFooter" xmlns:th="http://www.thymeleaf.org">
  <footer class="main-footer">
    <div class="footer-inner">
      <p class="footer-links">
        개인정보처리방침 · 경영공시 · 고객정보취급방침 · 보험금융상품등록부 · 상품공시실 · 전자민원접수 · 전자금융이용자보호수칙 · 전자금융사기피해금환급제도<br />
        위치기반서비스 이용약관
      </p>
      <p class="footer-contact">
        고객상담 1588-6200, 1544-6200  |  해외 +82-2-1588-6200
      </p>
      <p class="footer-copy">
        COPYRIGHT ⓒ 2025 K-DT 1조 부산은행 퇴직연금
      </p>
    </div>
  </footer>
</div>
