body {
	font-family: 'Pretendard', sans-serif;
	margin: 0;
	padding: 0;
	color: #222;
}

/*배너*/
.banner {
  	background-color: #FFFCE8; /* 연한 노랑 */
  	padding: 10px 20px 50px 30px;
  	display: flex;
  	justify-content: center;
  	/*position: relative;  이미지 절대위치 기준 */
}

.banner-content {
	max-width: 1200px;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	gap: 80px;
  	flex-wrap: nowrap;
  	text-align: left;
  	position: relative;
}

.banner-img img {
  	width: 210px;
  	height: auto;
  	margin-top: 20px;
}

.banner-text h2 {
  	font-size: 32px;
  	font-weight: 700;
  	margin-bottom: 16px;
  	color: #222;
  	margin-top: 15px;
}

.banner-text p {
  	font-size: 22px;
  	color: #444;
}

@media (max-width: 768px) {
  .banner {
    height: 280px; /* 높이 설정 필수 */
  }
	
  .banner-content {
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 30px;
  }
  
  .banner-text h2 {
    font-size: 22px;
  }
  
  .banner-text p {
  	font-size: 16px;
  	color: #444;
  }

  .banner-img img {
    max-width: 120px;
  }
  
  .banner-img {
    position: absolute;
    bottom: -25px;
    right: 5px;
  }
}

/* 전체 폼 영역 */
.section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;
}

/* 폼 내부 정렬 */
.form .search-wrap {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 70px;
}

/* select 스타일 */
.search-wrap select {
  padding: 14px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 10px;
}

/* 검색창과 버튼 묶음 */
.search-wrap .button {
  display: flex;
  flex: 1;
  position: relative; /* 아이콘 절대 위치 기준 */
}

/* 입력창 */
.search-wrap .button input[type="text"] {
  flex: 1;
  border: none;
  font-size: 27px;
  padding: 8px 12px 8px 50px;
  outline: none;
  border-bottom: 1px solid #ccc;
}

.search-wrap .button input::placeholder {
  font-weight: 300;
}

/* 돋보기 아이콘 */
.search-icon {
  position: absolute;
  bottom: 9px;
  width: 40px;
  height: 40px;
  background-image: url('/images/search.png'); /* 돋보기 이미지 경로 */
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

/* 버튼 */
.search-wrap .button button {
  background-color: #D71921;
  color: #fff;
  font-weight: bold;
  font-size: 21px;
  border: none;
  border-radius: 12px;
  padding: 14px 25px;
  cursor: pointer;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .form .search-wrap {
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
  }

  .search-wrap select {
    width: 100%;
    font-size: 16px;
  }

  .search-wrap .button {
    flex-direction: column;
    width: 100%;
  }

  .search-wrap .button input[type="text"] {
    width: 100%;
    font-size: 20px;
    padding: 10px 12px 10px 38px;
    margin-top: 12px;
  }
  
  .search-icon {
    width: 28px;
    height: 28px;
	top: 20px;
  }

  .search-wrap .button button {
    width: 100%;
    margin-left: 0;
    margin-top: 12px;
    font-size: 18px;
    padding: 12px;
  }
}


/*테이블*/
.table-section {
  width: 100%;
  border-collapse: collapse;
  border-top: 2px solid #D71921;
}

.table-section td {
  padding: 22px 12px;
  border-bottom: 1px solid #eee;
  font-size: 18px;
}
.td-left {
  text-align: left;
}
.td-right {
  text-align: right;
}
.td-center {
  text-align: center;
}

/* 파일 제목 */
.table-title {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-bottom: 4px;
}
/* 등록일 */
.table-date {
  font-size: 13px;
}

/* 다운로드 이미지 */
.download-icon img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

/* 모바일 대응 */
@media (max-width: 768px) {
  .table-section td {
    font-size: 14px;
    padding: 16px 8px;
  }

  .table-title {
    font-size: 14px;
  }

  .table-date {
    font-size: 10px;
  }

  .download-icon img {
    width: 25px;
    height: 25px;
  }
}

/*페이지네이션*/
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.pagination a {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #444;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid transparent;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.pagination .active {
  background-color: #D71921;
  color: #fff;
  font-weight: bold;
}

.pagination .page-arrow {
  font-size: 18px;
  padding: 0 8px;
  font-weight: bold;
  color: #444;
}

/* 모바일 대응 */
@media (max-width: 768px) {
  .pagination a {
    width: 28px;
    height: 28px;
    font-size: 13px;
    line-height: 28px;
  }
}


