<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>퇴직연금 가이드</title>
<link rel="stylesheet" th:href="@{/css/header.css}" />
<link rel="stylesheet" th:href="@{/css/footer.css}" />
<link rel="stylesheet" th:href="@{/css/oper-guide.css}" />
</head>

<body>
<!-- header -->
<div th:replace="~{fragments/header :: mainHeader}"></div>
<!-- 경로 표시 -->
<div th:replace="~{fragments/location :: location(category1='퇴직연금 가이드', category2='자산운용 가이드')}"></div>

<div class="banner">
	<div class="banner-content">
		<div class="banner-text">
			<h2>퇴직연금 운용가이드</h2>
			<p>퇴직연금 자산이 운용되는 프로세스와 기본원칙, 투자한도를 안내해요.</p>
		</div>
		<div class="banner-img">
			<img th:src="@{/images/book.png}" alt="책 이모티콘">
		</div>
	</div>
</div>

<!-- 탭 메뉴 -->
<div class="tab-container">

  <div class="tab-menu">
    <button class="active" onclick="showTab('process', this)">자산운용 프로세스</button>
    <button onclick="showTab('basic', this)">자산운용 기본원칙</button>
    <button onclick="showTab('limit', this)">투자한도 제한</button>
  </div>
</div>

<!-- 탭 콘텐츠 -->
<div class="section" id="process" style="display: block;">
	<h2>퇴직연금 자산운용 주체는 누구일까요?</h2>
  	<!-- 이미지 -->
  	<div class="image-wrapper">
    	<img th:src="@{/images/guide1.PNG}" alt="DB의 자산운용 주체는 기업" height="170" class="responsive-img small-img" />
    	<img th:src="@{/images/guide2.PNG}" alt="DC,IRP의 자산운용 주체는 개인" class="responsive-img small-img" />
  	</div>
  	<ul>
    	<li> 퇴직연금 제도 형태별로 적립금 자산운용의 주체가 다릅니다.</li>
    	<li> 확정급여형 제도에서는 사용자가 자산운용의 주체이며 자산운용 권한과 최종 책임도 사용자에세 있습니다.</li>
    	<li> 반면에 확정기여형 및 개인형 퇴직연금제도에서는 개인 가입자가 자산운용의 권한 및 책임을 가지게 됩니다.</li>
  	</ul>
	<!-- 안내 -->
	<div class="notice-box">
	  	<div class="notice-header" onclick="toggleNotice()">
		  	<span>안내</span>
		  	<span id="toggle-icon">＋</span>
	  	</div>
	  	<div class="notice-content" id="notice-content">
	  		<ul>
	  			<li> 집합투자상품은 예금자보호법에 따라 보호되지 않습니다.</li>
	  			<li> 집합투자상품은 실적배당상품이므로 운용결과에 따라 투자원금의 손실이 발생할 수 있으며, 그 손실은 투자자에게 귀속됩니다.</li>
	  			<li> 집합투자상품을 가입하시기 전에 투자대상, 환매방법 및 보수 등에 관하여 (간이)투자설명서를 반드시 읽어보시기 바랍니다.</li>
	  			<li> 당사는 금융투자상품에 관하여 충분히 설명할 의무가 있으며, 투자자는 투자에 앞서 그러한 설명을 충분히 들으시기 바랍니다.</li>
	  		</ul>
	  	</div>
	</div>
</div>

<!-- 탭 콘텐츠 -->
<div class="section" id="basic" style="display: block;">
	<h2>퇴직연금의 자산운용 기본원칙은 분산투자와 장기투자입니다.</h2>
  	<!-- 이미지 -->
  	<div class="image-wrapper">
    	<img th:src="@{/images/guide3.PNG}" alt="분산투자와 장기투자가 적힌 그림" class="responsive-img small-img" />
  	</div>
  	<br><hr class="custom-hr">
  	
  	<div class="flex-row">
  		<!-- 왼쪽은 텍스트 -->
  		<div class="flex-text">
		  	<h2>분산투자</h2>
		  	
		  	<h3>대상의 분산</h3>
			<ul>
			    <li>분산투자란 1개의 금융상품만으로 운용하는 것이 아니고 몇 개의 상품으로 나누어 운용하는 것을 말합니다.</li>
			    <li>상품의 분산투자를 통해 일부 상품의 수익이 마이너스의 경우에도 다른상품에서 얻은 수익이 이를 보완하여 전체적인 위험을 줄일 수 있습니다.</li>
			</ul>
			<br>
			<h3>투자시기의 분산</h3>
			<ul>
			    <li>운용상품의 시점을 분산시키는 것을 말합니다.</li>
			    <li>효과적으로 매수시기를 분산하는 방법으로 ‘적립식 방식’이 있습니다.<br>
			     적립식 방식 : 매회 일정한 자산을 계속 매수 하는 것으로 가격이 떨어질 때는 추가로 매수하여 결과적으로 상품의 평균 매수 가격을 낮게 유지하는 방법
			    </li>
			</ul>
		</div>
		<!-- 오른쪽 이미지 -->
		<div class="flex-img">
			<img src="/images/principle02.png" alt="분산투자 이미지">
		</div>
	</div>
	<br><hr class="custom-hr">
	
	<div class="flex-row">
	
		<div class="flex-text">
		  	<h2>장기투자</h2>
		  	
		  	<h3>장기투자</h3>
			<ul>
			    <li>주식과 같이 단기적으로는 가격이 급하게 오르거나 내려 가격변동이 심하게 되는 경우가 많이 있으나 장기적으로 보면 가격은 완만하게 등락을 하고 있음을 알 수 있습니다.
			     	따라서 투자를 하는 경우 장기적인 안목으로 운용의 성과를 기대하는 것이 중요합니다.</li>
			</ul>
			<br>
			<h3>복리효과</h3>
			<ul>
			    <li>복리효과란 ‘이자가 이자를 낳은 효과’라고 할 수 있습니다.</li>
			    <li>금리상품의 경우 운용기간이 장기가 되면 그 수익이 기하급수적으로 커지는 효과를 말합니다.</li>
			</ul>
		</div>
		<!-- 오른쪽 이미지 -->
		<div class="flex-img">
			<img src="/images/principle03.png" alt="장기투자 이미지">
		</div>
	</div>
	<br><br>
</div>


<!-- footer -->
<div th:replace="~{fragments/footer :: mainFooter}"></div>

<script>
	function showTab(tabId, button) {
		//모든 섹션 숨김
		document.querySelectorAll('.section').forEach(section => {
		  section.style.display = 'none';
		});
		
		// 해당 섹션 표시
	    const activeSection = document.getElementById(tabId);
	    if (activeSection) activeSection.style.display = 'block';
	    
	    document.querySelectorAll('.tab-menu button').forEach(btn => {
	      btn.classList.remove('active');
	    });
	    button.classList.add('active');
	}
	
	// 페이지가 처음 로드되면 첫 번째 탭 강제 표시
	window.addEventListener('DOMContentLoaded', () => {
		const firstTabButton = document.querySelector('.tab-menu button');
		if(firstTabButton) {
			firstTabButton.click();
		}
	});


	// 프로세스 내용의 안내 부분
	function toggleNotice() {
		const content = document.getElementById("notice-content");
		const icon = document.getElementById("toggle-icon");
		const isVisible = content.style.display === "block";
		
		content.style.display = isVisible ? "none" : "block";
		icon.textContent = isVisible ? "＋" : "－";
	}
</script>
</body>
</html>

















