<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>계약서 리스트</title>
</head>
<body>

<h2>운용관리/자산관리 계약 약관</h2>

<table border="1">
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>첨부파일</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="contract : ${contractList}">
            <td th:text="${contract.orderIndex}">1</td>
            <td th:text="${contract.title}">제목</td>
            <td>
                <a th:href="@{/pdf/asset/{file}(file=${contract.fileName})}">
                    <button>⬇</button>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<div th:replace="~{fragments/chatbot :: chatbot}"></div>
<script defer th:src="@{/js/chatbot.js}"></script>
</body>
</html>
