<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>퇴직연금 운용관리 및 자산관리 약관</title>
<link rel="stylesheet" th:href="@{/css/header.css}" />
<link rel="stylesheet" th:href="@{/css/footer.css}" />
<link rel="stylesheet" th:href="@{/css/charge.css}" />
</head>
<body>
<!-- header -->
<div th:replace="~{fragments/header :: mainHeader}"></div>
<!-- 경로 표시 -->
<div th:replace="~{fragments/location :: location(category1='공시', category2='수수료')}"></div>


<h1>운용관리 및 자산관리 수수료</h1>
<p>- 퇴직연금 제도별 운용관리수수료, 자산관리수수료를 확인할 수 있습니다.</p>

<h2>확정급여형(DB) 수수료</h2>
<table>
  <thead>
    <tr>
      <th>수수료 구분</th>
      <th>구간</th>
      <th>수수료율(연간)</th>
      <th>부과기준</th>
      <th>납입주체</th>
      <th>취득자산</th>
      <th>장기할인</th>
    </tr>
  </thead>
  <tbody>
    <!-- 운용관리수수료 -->
    <tr>
      <td rowspan="6">운용관리수수료</td>
      <td>10억 미만</td>
      <td>0.40%</td>
      <td rowspan="6">
        매 계약응당일 계산기간의<br>
        적립금자산평가액 평잔 × 해당 수수료율<br>
        (계약일 또는 직전계산일 ~ 당해 계산기준일 전일)
      </td>
      <td rowspan="6">사용자</td>
      <td rowspan="6">신탁재산 (적립금)</td>
      <td rowspan="6">
        2년차: 10%<br>
        3년차: 12%<br>
        4년차: 15%<br>
        5년차 이후: 20%
      </td>
    </tr>
    <tr><td>30억 미만</td><td>0.35%</td></tr>
    <tr><td>50억 미만</td><td>0.30%</td></tr>
    <tr><td>100억 미만</td><td>0.25%</td></tr>
    <tr><td>600억 미만</td><td>0.20%</td></tr>
    <tr><td>600억 이상</td><td>0.10%</td></tr>

    <!-- 자산관리수수료 -->
    <tr>
      <td rowspan="2">자산관리수수료</td>
      <td>600억 미만</td>
      <td>0.30%</td>
      <td rowspan="2">
        매 계약응당일 계산기간의<br>
        신탁재산평가액 평잔 × 수수료율<br>
        (계약일 또는 직전계산일 ~ 당해 계산기준일 전일)
      </td>
      <td rowspan="2">사용자</td>
      <td rowspan="2">신탁재산</td>
      <td rowspan="2">-</td>
    </tr>
    <tr><td>600억 이상</td><td>0.15%</td></tr>
    
     <tr>
      <td>가입자교육수수료</td>
      <td>0원</td>
      <td>교육위탁계약서에서 정하되 징구하지 않음</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    
      <tr>
      <td>중도해지수수료</td>
      <td>없음</td>
      <td>해당없음</td>
      <td>해당없음</td>
      <td>해당없음</td>
      <td>-</td>
      <td>-</td>
    </tr>
    
    <tr>
      <td>계약이전수수료</td>
      <td>없음</td>
      <td>해당없음</td>
      <td>해당없음</td>
      <td>해당없음</td>
      <td>-</td>
      <td>-</td>
    </tr>
  </tbody>
</table>

<div class="note">
	• 수수료 장기계약할인과 관련하여 시행일전(2012.10.9) 체결된 계약은 시행일 직전 계약응당일을 최초 계약일로 간주하여 변경된 계약을 적용합니다.<br>
	•퇴직신탁/보험으로부터 전환된 계약에 대해서는 계약초년도 운용관리수수료를 면제한다. 다만, 계약초년도중 중도해지 및 계약이전시에는 징구합니다.<br>
	•중도해지 또는 계약이전시의 계산기준일은 중도해지일 또는 계약이전일로 합니다.<br>
	•고용노동부가 인증한 사회적 기업에 대해서는 사회적 기업으로 확인된 시점부터 운용 및 자산관리수수료를 50% 할인 적용합니다.<br>
	 단, 인증이 취소된 경우에는 취소일로부터 할인율을 적용하지 않습니다.<br>
	•사회복지사업법에 의해 설립(또는 설치)된 사회복지법인 및 사회복지시설, 유아교육법에 의해 설립된 유치원,
	 영유아보육법에 의해 설치된 어린이집에 대해서는 운용 및 자산관리수수료를 50%할인하여 적용합니다.<br>
	•중소기업에 대해서 중소기업확인서를 제출하는 경우 제출한 날의 익일부터 운용 및 자산관리수수료를 5% 할인 적용합니다.<br>
	•적립금자산 중 집합투자증권(ETF 제외) 자산평가액에 대해 운용관리수수료 10% 할인 적용합니다.
</div>

<h2>확정기여형(DC) 수수료</h2>
<table>
  <thead>
    <tr>
      <th>수수료 구분</th>
      <th>구간</th>
      <th>수수료율(연)</th>
      <th>부과기준</th>
      <th>납입주체</th>
      <th>취득자산</th>
      <th>장기할인</th>
    </tr>
  </thead>
  <tbody>
    <!-- 운용관리수수료 -->
    <tr>
      <td rowspan="5">운용관리수수료</td>
      <td>10억 미만</td>
      <td>0.40%</td>
      <td rowspan="5">
        매 계약응당일 계산기간의 적립금자산평가액 평잔 × 해당 수수료율<br>
        (계약일 또는 직전계산일 ~ 당해 계산기준일 전일)
      </td>
      <td rowspan="3">사용자 (사용자 부담금)</td>
      <td rowspan="3">현금</td>
      <td rowspan="7">
        2년차: 10%<br>
        3년차: 12%<br>
        4년차: 15%<br>
        5년차 이후: 20%
      </td>
    </tr>
    <tr><td>30억 미만</td><td>0.35%</td></tr>
    <tr><td>50억 미만</td><td>0.30%</td></tr>
    <tr><td>100억 미만</td><td>0.25%</td><td rowspan="2">가입자 (가입자 부담금)</td><td rowspan="2">신탁재산(적립금)</td></tr>
    <tr><td>100억 이상</td><td>0.20%</td></tr>

    <!-- 자산관리수수료 -->
   <tr>
  <td rowspan="2">자산관리수수료</td>
  <td colspan="2" rowspan="2">0.30%</td>
  <td rowspan="2">
    매 계약응당일 계산기간의<br>
    신탁재산평가액 평잔 × 수수료율<br>
    (계약일 또는 직전계산일 ~ 당해 계산기준일 전일)
  </td>
  <td>사용자 (사용자 부담금)</td>
  <td>현금</td>
</tr>
<tr>
  <td>가입자 (가입자 부담금)</td>
  <td>신탁재산</td>
</tr>
    <!-- 기타 수수료 -->
    <tr>
      <td>가입자교육수수료</td>
      <td colspan="2">0원</td>
      <td>교육위탁계약서에서 정하되 징구하지 않음</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>중도해지수수료</td>
      <td colspan="2">없음</td>
      <td>해당없음</td>
      <td>해당없음</td>
      <td>해당없음</td>
      <td>-</td>
    </tr>
    <tr>
      <td>계약이전수수료</td>
      <td colspan="2">없음</td>
      <td>해당없음</td>
      <td>해당없음</td>
      <td>해당없음</td>
      <td>-</td>
    </tr>
  </tbody>
</table>


<div class="note">
  <strong>※ 참고사항:</strong><br>
	수수료 장기계약할인과 관련하여 시행일전(2012.10.9) 체결된 계약은 시행일 직전 계약응당일을 최초 계약일로 간주하여 변경된 계약을 적용합니다.<br>
	*퇴직신탁/보험으로부터 전환된 계약에 대해서는 계약초년도 운용관리수수료를 면제한다. 다만, 계약초년도중 중도해지 및 계약이전시에는 징구합니다.<br>
	*중도해지 또는 계약이전시의 계산기준일은 중도해지일 또는 계약이전일로 합니다.<br>
	*고용노동부가 인증한 사회적 기업에 대해서는 사회적 기업으로 확인된 시점부터 운용 및 자산관리수수료를 50% 할인 적용합니다.<br>
	단, 인증이 취소된 경우에는 취소일로부터 할인율을 적용하지 않습니다.<br>
	*사회복지사업법에 의해 설립(또는 설치)된 사회복지법인 및 사회복지시설, 유아교육법에 의해 설립된 유치원, 영유아보육법에 의해 설치된 어린이집에 대해서는 
	운용 및 자산관리수수료를 50%할인하여 적용합니다.<br>
	*중소기업에 대해서 중소기업확인서를 제출하는 경우 제출한 날의 익일부터 운용 및 자산관리수수료를 5% 할인 적용합니다.<br>
	*적립금자산 중 집합투자증권(ETF 제외) 자산평가액에 대해 운용관리수수료 10% 할인 적용합니다.<br>
</div>

<h2>기업형 IRP 수수료</h2>
<table>
  <thead>
    <tr>
      <th>수수료구분</th>
      <th>수수료율(연)/금액</th>
      <th>부과기준</th>
      <th>납입주체</th>
      <th>취득자산</th>
      <th>장기할인</th>
    </tr>
  </thead>
  <tbody>
    <!-- 운용관리수수료 -->
    <tr>
      <td rowspan="2">운용관리수수료</td>
      <td>1억 미만<br>0.40%</td>
      <td rowspan="2">
        매 계약응당일 계산기간의 적립금자산평가액 평잔<br>
        × 해당수수료율<br>
        (계약일 또는 직전계산일~당해 계산기준일 전일)
      </td>
      <td>사용자<br>(사용자 부담)</td>
      <td>현금</td>
      <td rowspan="2">
        2년차: 10%<br>
        3년차: 12%<br>
        4년차: 15%<br>
        5년차 이후: 20%
      </td>
    </tr>
    <tr>
      <td>1억 이상<br>0.38%</td>
      <td>가입자<br>(가입자 부담)</td>
      <td>신탁재산 (적립금)</td>
    </tr>

    <!-- 자산관리수수료 -->
    <tr>
      <td rowspan="2">자산관리수수료</td>
      <td>1억 미만<br>0.20%</td>
      <td rowspan="2">
        매 계약응당일 계산기간의 신탁재산평가액 평잔<br>
        × 해당수수료율<br>
        (계약일 또는 직전계산일~당해 계산기준일 전일)
      </td>
      <td>사용자<br>(사용자 부담)</td>
      <td>현금</td>
      <td rowspan="2">
        2년차: 10%<br>
        3년차: 12%<br>
        4년차: 15%<br>
        5년차 이후: 20%
      </td>
    </tr>
    <tr>
      <td>1억 이상<br>0.18%</td>
      <td>가입자<br>(가입자 부담)</td>
      <td>신탁재산</td>
    </tr>

    <!-- 기타 수수료 -->
    <tr>
      <td>가입자교육수수료</td>
      <td>0원</td>
      <td>교육위탁계약서에서 정하되 징구하지 않음</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>중도해지수수료</td>
      <td>없음</td>
      <td>해당없음</td>
      <td>해당없음</td>
      <td>해당없음</td>
      <td>-</td>
    </tr>
    <tr>
      <td>계약이전수수료</td>
      <td>없음</td>
      <td>해당없음</td>
      <td>해당없음</td>
      <td>해당없음</td>
      <td>-</td>
    </tr>
  </tbody>
</table>

<div class="note">
  <strong>※ 참고사항:</strong><br>
	수수료 장기계약할인과 관련하여 시행일전(2012.10.9) 체결된 계약은 시행일 직전 계약응당일을 최초 계약일로 간주하여 변경된 계약을 적용합니다.<br>
	*수수료 납입주체와 관련하여 시행일 이전에 체결한 계약의 경우 2013년 7월 26일부터 변경된 계약내용을 적용합니다.<br>
	*운용관리수수료 및 자산관리수수료 인하와 관련하여 시행일전(2013.4.5) 체결한 계약의 경우 시행일 이후 처음 도래하는 계약응당일부터 변경내용을 적용합니다.<br>
	*고용노동부가 인증한 사회적 기업에 대해서는 사회적 기업으로 확인된 시점부터 운용 및 자산관리수수료를 50% 할인 적용합니다.<br>
	단, 인증이 취소된 경우에는 취소일로부터 할인율을 적용하지 않습니다.<br>
	*사회복지사업법에 의해 설립(또는 설치)된 사회복지법인 및 사회복지시설, 유아교육법에 의해 설립된 유치원, 영유아보육법에 의해 설치된 어린이집에 대해서는
	운용 및 자산관리수수료를 50%할인하여 적용합니다.<br>
	*중소기업에 대해서 중소기업확인서를 제출하는 경우 제출한 날의 익일부터 운용 및 자산관리수수료를 5% 할인 적용합니다.<br>
	*적립금자산 중 집합투자증권(ETF 제외) 자산평가액에 대해 운용관리수수료 10% 할인 적용합니다.<br>
</div>


<h2>개인형 IRP 수수료</h2>
<table>
  <thead>
    <tr>
      <th>수수료구분</th>
      <th>수수료율(연)/금액</th>
      <th>부과기준</th>
      <th>납입주체</th>
      <th>취득자산</th>
      <th>장기할인</th>
    </tr>
  </thead>
  <tbody>
    <!-- 운용관리수수료 -->
    <tr>
      <td rowspan="4">운용관리수수료</td>
      <td>일시 부담금<br>1억 미만 (인터넷/모바일뱅킹)<br>0.3% (면제)</td>
      <td rowspan="4">
        매 계약응당일 계산기간의<br>
        적립금자산평가액 평잔 × 해당수수료율<br>
        (계약일 또는 직전계산일~당해 계산기준일 전일)
      </td>
      <td rowspan="4">가입자</td>
      <td rowspan="4">신탁재산 (적립금)</td>
      <td rowspan="4">
        2년차: 10%<br>
        3년차: 12%<br>
        4년차: 15%<br>
        5년차 이후: 20%
      </td>
    </tr>
    <tr>
      <td>일시 부담금<br>1억 이상 (인터넷/모바일뱅킹)<br>0.28% (면제)</td>
    </tr>
    <tr>
      <td>개인 부담금<br>1억 미만 (인터넷/모바일뱅킹)<br>0.08% (면제)</td>
    </tr>
    <tr>
      <td>개인 부담금<br>1억 이상 (인터넷/모바일뱅킹)<br>0.07% (면제)</td>
    </tr>

    <!-- 자산관리수수료 -->
    <tr>
      <td rowspan="2">자산관리수수료</td>
      <td>1억 미만 (인터넷/모바일뱅킹)<br>0.20% (면제)</td>
      <td rowspan="2">
        매 계약응당일 계산기간의<br>
        신탁재산평가액 평잔 × 해당수수료율<br>
        (계약일 또는 직전계산일~당해 계산기준일 전일)
      </td>
      <td rowspan="2">가입자</td>
      <td rowspan="2">신탁재산</td>
      <td rowspan="2">
        2년차: 10%<br>
        3년차: 12%<br>
        4년차: 15%<br>
        5년차 이후: 20%
      </td>
    </tr>
    <tr>
      <td>1억 이상 (인터넷/모바일뱅킹)<br>0.17% (면제)</td>
    </tr>

    <!-- 기타 수수료 -->
    <tr>
      <td>가입자교육수수료</td>
      <td>0원</td>
      <td>교육위탁계약서에서 정하되 징구하지 않음</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>중도해지수수료</td>
      <td>없음</td>
      <td>해당없음</td>
      <td>해당없음</td>
      <td>해당없음</td>
      <td>-</td>
    </tr>
    <tr>
      <td>계약이전수수료</td>
      <td>없음</td>
      <td>해당없음</td>
      <td>해당없음</td>
      <td>해당없음</td>
      <td>-</td>
    </tr>
  </tbody>
</table>


<div class="note">
  <strong>※ 참고사항:</strong><br>
	 수수료 장기계약할인과 관련하여 시행일전(2012.10.9) 체결된 계약은 시행일 직전 계약응당일을 최초 계약일로 간주하여 변경된 계약을 적용합니다.<br>
	*운용관리수수료 및 자산관리수수료 인하와 관련하여 시행일전(2013.4.5) 체결한 계약의 경우 시행일 이후 처음 도래하는 계약응당일부터 변경내용을 적용합니다.<br>
	*개인형IRP의 경우 가입자가 퇴직급여제도에서 수령한 일시부담금을 최초 계약일(계약일에 입금액이 없는 경우 또는 시행일 이전 체결한 개인형IRP의 경우에는
	 시행일 이후 최초 부담금 입금일)로부터 15일 이내 계약해지 신청등록을 한 경우 해당 기간의 운용관리수수료 및 자산관리수수료를 면제합니다. 
	 단, 최초 계약일(계약일에 입금액이 없는 경우에는 최초 부담금 입금일)로부터 15일 초과시에는 전 기간에 대해 운용관리수수료 및 자산관리수수료를 부과하며, 
	 가입자가 자기의 부담으로 납입하는 개인부담금의 경우에는 운용관리수수료 및 자산관리수수료를 면제하지 않습니다(시행일:2013.4.5).<br>
	*연금수령개시를 신청한 경우에는 신청일 직전 계약응당일 이후부터 운용관리수수료에 대하여 80% 할인율을 적용합니다.<br>
	*인터넷 또는 모바일뱅킹을 통해 계좌 개설시 운용/자산관리수수료 면제됩니다.<br>
	*적립금자산 중 집합투자증권(ETF 제외) 자산평가액에 대해 운용관리수수료 10% 할인 적용합니다.<br>
	*적립금자산 중 디폴트옵션 포트폴리오(초저위험 포트폴리오 제외) 적립금에 대해 운용손익수수료를 부과합니다.<br>
	*운용손익수수료는 운용수익률이 기준지표보다 높은 경우 기존 운용관리수수료율과 동일한 수수료 적용하고, 
	기준지표보다 같거나 낮은 경우에는 기존 운용관리수수료율에서 0.04% 차감한 수수료 적용합니다.<br>
	*기준지표는 디폴트옵션 포트폴리오 위험그룹별로 아래와 같이 정합니다.
</div>

<h2>상품위험등급 및 기준표</h2>
<table>
  <thead>
    <tr>
      <th>상품위험등급</th>
      <th>기준표</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>저위험</td>
      <td>부산은행 위험등급 배정표상 5등급 판정 시 펀드 내 편입 1년 평균수익률</td>
    </tr>
    <tr>
      <td>중위험</td>
      <td>부산은행 위험등급 배정표상 4등급 판정 시 펀드 내 편입 1년 평균수익률</td>
    </tr>
    <tr>
      <td>고위험</td>
      <td>부산은행 위험등급 배정표상 3등급 판정 시 펀드 내 편입 1년 평균수익률</td>
    </tr>
  </tbody>
</table>

<h2>가상기업의 수수료 계산 예시</h2>
<table>
  <thead>
    <tr>
      <th rowspan="2">구분</th>
      <th colspan="2">수수료종류</th>
      <th colspan="2">확정급여형</th>
      <th colspan="2">확정기여형</th>
    </tr>
    <tr>
      <th colspan="2">운용/자산</th>
      <th>운용관리수수료</th>
      <th>자산관리수수료</th>
      <th>운용관리수수료</th>
      <th>자산관리수수료</th>
    </tr>
  </thead>
  <tbody>
    <!-- 소기업 -->
    <tr>
      <td rowspan="3">소기업</td>
      <td colspan="2">초년도</td>
      <td>600,000</td>
      <td>450,000</td>
      <td>600,000</td>
      <td>450,000</td>
    </tr>
    <tr>
      <td colspan="2">2차년도</td>
      <td>594,000</td>
      <td>445,500</td>
      <td>594,000</td>
      <td>445,500</td>
    </tr>
    <tr>
      <td colspan="2">10년간누계</td>
      <td>7,242,600</td>
      <td>5,431,950</td>
      <td>7,242,600</td>
      <td>5,431,950</td>
    </tr>

    <!-- 중기업 -->
    <tr>
      <td rowspan="3">중기업</td>
      <td colspan="2">초년도</td>
      <td>3,500,000</td>
      <td>3,000,000</td>
      <td>3,500,000</td>
      <td>3,000,000</td>
    </tr>
    <tr>
      <td colspan="2">2차년도</td>
      <td>3,465,000</td>
      <td>2,970,000</td>
      <td>3,465,000</td>
      <td>2,970,000</td>
    </tr>
    <tr>
      <td colspan="2">10년간누계</td>
      <td>42,248,500</td>
      <td>36,213,000</td>
      <td>42,248,500</td>
      <td>36,213,000</td>
    </tr>

    <!-- 대기업 -->
    <tr>
      <td rowspan="3">대기업</td>
      <td colspan="2">초년도</td>
      <td>40,000,000</td>
      <td>60,000,000</td>
      <td>40,000,000</td>
      <td>60,000,000</td>
    </tr>
    <tr>
      <td colspan="2">2차년도</td>
      <td>39,600,000</td>
      <td>59,400,000</td>
      <td>39,600,000</td>
      <td>59,400,000</td>
    </tr>
    <tr>
      <td colspan="2">10년간누계</td>
      <td>482,840,000</td>
      <td>724,206,000</td>
      <td>482,840,000</td>
      <td>724,206,000</td>
    </tr>
  </tbody>
</table>

<button id="topBtn" onclick="scrollToTop()">맨 위로 ↑</button>

<!-- 스크롤 이벤트 및 동작 스크립트 -->
<script>
  // 스크롤 감지해서 버튼 표시
  window.addEventListener("scroll", function () {
    const btn = document.getElementById("topBtn");
    btn.style.display = (window.scrollY > 200) ? "block" : "none";
  });

  // 부드럽게 최상단으로 이동
  function scrollToTop() {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  }
</script>
<div th:replace="~{fragments/chatbot :: chatbot}"></div>
<!-- footer -->
<div th:replace="~{fragments/footer :: mainFooter}"></div>
<script th:src="@{/js/chatbot.js}"></script>
</body>
</html>
