<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>퇴직연금 - 운용관리 및 자산관리 수수료</title>
<link rel="stylesheet" th:href="@{/css/header.css}" />
<link rel="stylesheet" th:href="@{/css/footer.css}" />
<link rel="stylesheet" th:href="@{/css/charge.css}" />
</head>
<body>
<!-- header -->
<div th:replace="~{fragments/header :: mainHeader}"></div>
<!-- 경로 표시 -->
<div th:replace="~{fragments/location :: location(category1='공시', category2='수수료')}"></div>

<!-- 탭 메뉴 -->
<div class="tab-container">
  	<h1 class="tab-title">운용관리 및 자산관리 수수료</h1>

  	<div class="tab-menu">
    	<button class="active" onclick="showTab('DB', this)">DB</button>
    	<button onclick="showTab('DC', this)">DC</button>
	    <button onclick="showTab('IRP', this)">IRP</button>
	    <button onclick="showTab('chargeEx', this)">수수료 계산 예시</button>
	</div>

	<!-- 탭 콘텐츠(DB) -->
	<div id="DB">
		<h2 class="fee-title">확정급여형(DB)</h2>
		<!-- 운용관리 -->
		<h3 class="fee-subtitle"><span class="red-line"></span>운용관리 수수료</h3>
		<div class="fee-table-wrapper">
			<table class="fee-table">
				<thead>
					<tr>
						<th>구분</th><th>운용관리 수수료</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="center">수수료율(연)/액</td>
						<td class="table-content">
							<p>적립금자산평가액 기준</p>
							- 10억 미만 : 0.40%<br>
							- 30억 미만 : 0.35%<br>
							- 50억 미만 : 0.30%<br> 
							- 100억 미만 : 0.25%<br> 
							- 600억 미만 :0.20%<br> 
							- 600억 이상 : 0.10%
						</td>
					</tr>
					<tr>
						<td class="center">부과기준</td>
						<td class="table-content">
							<p>매 계약 응당일</p> 
							적립금 자산평가액 평균잔액×수수료율<br> 
							(매 계약응당일을 계산기준일로 하여 당해 계산기준일 현재의 적립금 자산평가액에 해당하는 운용관리 수수료율을 적립금 자산평가액 평잔에 곱하여 계산)
						</td>
					</tr>
					<tr>
						<td class="center">납입 주체</td>
						<td>사용자</td>
					</tr>
					<tr>
						<td class="center">취득 자산</td>
						<td>신탁재산(적립금)</td>
					</tr>
					<tr>
						<td class="center">장기고객 할인율</td>
						<td class="table-content">
							2년차 : 10%<br> 
							3년차 : 12%<br>
							4년차 : 15%<br> 
							5년차 이후 : 20%
						</td>
						</tr>
				</tbody>
			</table>
		</div> <!-- fee-table-wrapper -->
		<!-- 자산관리 -->
		<h3 class="fee-subtitle"><span class="red-line"></span>자산관리 수수료</h3>
		<div class="fee-table-wrapper">
			<table class="fee-table">
				<thead>
					<tr>
						<th>구분</th><th>자산관리 수수료</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="center">수수료율(연)/액</td>
						<td class="table-content">
							<p>적립금자산평가액 기준</p>
							- 600억 미만 :0.30%<br> 
							- 600억 이상 : 0.15%
						</td>
					</tr>
					<tr>
						<td class="center">부과기준</td>
						<td class="table-content">
							<p>매 계약 응당일</p> 
							신탁재산평가액 평잔 x 수수료율
						</td>
					</tr>
					<tr>
						<td class="center">납입 주체</td>
						<td>사용자</td>
					</tr>
					<tr>
						<td class="center">취득 자산</td>
						<td>신탁재산(적립금)</td>
					</tr>
					<tr>
						<td class="center">장기고객 할인율</td>
						<td class="table-content">
							2년차 : 10%<br> 
							3년차 : 12%<br>
							4년차 : 15%<br> 
							5년차 이후 : 20%
						</td>
						</tr>
				</tbody>
			</table>
		</div> <!-- fee-table-wrapper -->
		<div class="notice">
			• 수수료 장기계약할인과 관련하여 시행일전(2012.10.9) 체결된 계약은 시행일 직전 계약응당일을 최초 계약일로 간주하여 변경된 계약을 적용합니다.<br>
			• 퇴직신탁/보험으로부터 전환된 계약에 대해서는 계약초년도 운용관리수수료를 면제한다. 다만, 계약초년도중 중도해지 및 계약이전시에는 징구합니다.<br>
			• 중도해지 또는 계약이전시의 계산기준일은 중도해지일 또는 계약이전일로 합니다.<br>
			• 고용노동부가 인증한 사회적 기업에 대해서는 사회적 기업으로 확인된 시점부터 운용 및 자산관리수수료를 50% 할인 적용합니다.<br>
			  <p style="margin-left: 12px">단, 인증이 취소된 경우에는 취소일로부터 할인율을 적용하지 않습니다.</p>
			• 사회복지사업법에 의해 설립(또는 설치)된 사회복지법인 및 사회복지시설, 유아교육법에 의해 설립된 유치원,
			 영유아보육법에 의해 설치된 어린이집에 대해서는 운용 및 자산관리수수료를 50%할인하여 적용합니다.<br>
			• 중소기업에 대해서 중소기업확인서를 제출하는 경우 제출한 날의 익일부터 운용 및 자산관리수수료를 5% 할인 적용합니다.<br>
			• 적립금자산 중 집합투자증권(ETF 제외) 자산평가액에 대해 운용관리수수료 10% 할인 적용합니다.
		</div>
	</div> <!-- 탭 콘텐츠(DB) 끝 -->
	
	<!-- 탭 콘텐츠(DC) -->
	<div id="DC">
		<h2 class="fee-title">확정기여형(DC)</h2>
		<!-- 운용관리 -->
		<h3 class="fee-subtitle"><span class="red-line"></span>운용관리 수수료</h3>
		<div class="fee-table-wrapper">
			<table class="fee-table">
				<thead>
					<tr>
						<th>구분</th><th>사용자 부담금</th><th>가입자 부담금</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="center">수수료율(연)/액</td>
						<td colspan="2" class="table-content">
							<p>적립금자산평가액 기준</p>
							- 10억 미만 : 0.40%<br>
							- 30억 미만 : 0.35%<br>
							- 50억 미만 : 0.30%<br> 
							- 100억 미만 : 0.25%<br> 
							- 100억 이상 : 0.20%
						</td>
					</tr>
					<tr>
						<td class="center">부과기준</td>
						<td colspan="2" class="table-content">
							<p>매 계약 응당일</p> 
							적립금 자산평가액 평균잔액×수수료율<br> 
							(매 계약응당일을 계산기준일로 하여 당해 계산기준일 현재의 적립금 자산평가액에 해당하는 운용관리 수수료율을 적립금 자산평가액 평잔에 곱하여 계산)
						</td>
					</tr>
					<tr>
						<td class="center">납입 주체</td>
						<td>사용자</td>
						<td>가입자</td>
					</tr>
					<tr>
						<td class="center">취득 자산</td>
						<td>현금</td>
						<td>신탁재산(적립금)</td>
					</tr>
					<tr>
						<td class="center">장기고객 할인율</td>
						<td colspan="2" class="table-content">
							2년차 : 10%<br> 
							3년차 : 12%<br>
							4년차 : 15%<br> 
							5년차 이후 : 20%
						</td>
						</tr>
				</tbody>
			</table>
		</div> <!-- fee-table-wrapper -->
		<!-- 자산관리 -->
		<h3 class="fee-subtitle"><span class="red-line"></span>자산관리 수수료</h3>
		<div class="fee-table-wrapper">
			<table class="fee-table">
				<thead>
					<tr>
						<th>구분</th><th>사용자 부담금</th><th>가입자 부담금</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="center">수수료율(연)/액</td>
						<td colspan="2" class="table-content">
							0.30%
						</td>
					</tr>
					<tr>
						<td class="center">부과기준</td>
						<td colspan="2" class="table-content">
							<p>매 계약 응당일</p> 
							신탁재산평가액평잔 x 수수료율
						</td>
					</tr>
					<tr>
						<td class="center">납입 주체</td>
						<td>사용자</td>
						<td>가입자</td>
					</tr>
					<tr>
						<td class="center">취득 자산</td>
						<td>현금</td>
						<td>신탁재산(적립금)</td>
					</tr>
					<tr>
						<td class="center">장기고객 할인율</td>
						<td colspan="2" class="table-content">
							2년차 : 10%<br> 
							3년차 : 12%<br>
							4년차 : 15%<br> 
							5년차 이후 : 20%
						</td>
						</tr>
				</tbody>
			</table>
		</div> <!-- fee-table-wrapper -->
		<div class="notice">
			• 수수료 장기계약할인과 관련하여 시행일전(2012.10.9) 체결된 계약은 시행일 직전 계약응당일을 최초 계약일로 간주하여 변경된 계약을 적용합니다.<br>
			• 퇴직신탁/보험으로부터 전환된 계약에 대해서는 계약초년도 운용관리수수료를 면제한다. 다만, 계약초년도중 중도해지 및 계약이전시에는 징구합니다.<br>
			• 중도해지 또는 계약이전시의 계산기준일은 중도해지일 또는 계약이전일로 합니다.<br>
			• 고용노동부가 인증한 사회적 기업에 대해서는 사회적 기업으로 확인된 시점부터 운용 및 자산관리수수료를 50% 할인 적용합니다.<br>
			  <p style="margin-left: 12px">단, 인증이 취소된 경우에는 취소일로부터 할인율을 적용하지 않습니다.</p>
			• 사회복지사업법에 의해 설립(또는 설치)된 사회복지법인 및 사회복지시설, 유아교육법에 의해 설립된 유치원,
			 영유아보육법에 의해 설치된 어린이집에 대해서는 운용 및 자산관리수수료를 50%할인하여 적용합니다.<br>
			• 중소기업에 대해서 중소기업확인서를 제출하는 경우 제출한 날의 익일부터 운용 및 자산관리수수료를 5% 할인 적용합니다.<br>
			• 적립금자산 중 집합투자증권(ETF 제외) 자산평가액에 대해 운용관리수수료 10% 할인 적용합니다.
		</div>
	</div> <!-- 탭 컨텐츠(DC) 끝 -->
	
	<!-- 탭 콘텐츠(IRP) -->
	<div id="IRP">
		<h2 class="fee-title">기업형IRP</h2>
		<!-- 운용관리 -->
		<h3 class="fee-subtitle"><span class="red-line"></span>운용관리 수수료</h3>
		<div class="fee-table-wrapper">
			<table class="fee-table">
				<thead>
					<tr>
						<th>구분</th><th>사용자 부담금</th><th>가입자 부담금</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="center">수수료율(연)/액</td>
						<td class="table-content">
							1억 미만 : 0.40%<br>
						</td>
						<td class="table-content">
							1억 이상 : 0.38%<br>
						</td>
					</tr>
					<tr>
						<td class="center">부과기준</td>
						<td colspan="2" class="table-content">
							<p>매 계약 응당일</p> 
							적립금 자산평가액 평균잔액×수수료율<br> 
							(매 계약응당일을 계산기준일로 하여 당해 계산기준일 현재의 적립금 자산평가액에 해당하는 운용관리 수수료율을 적립금 자산평가액 평잔에 곱하여 계산)
						</td>
					</tr>
					<tr>
						<td class="center">납입 주체</td>
						<td>사용자</td>
						<td>가입자</td>
					</tr>
					<tr>
						<td class="center">취득 자산</td>
						<td>현금</td>
						<td>신탁재산(적립금)</td>
					</tr>
					<tr>
						<td class="center">장기고객 할인율</td>
						<td colspan="2" class="table-content">
							2년차 : 10%<br> 
							3년차 : 12%<br>
							4년차 : 15%<br> 
							5년차 이후 : 20%
						</td>
						</tr>
				</tbody>
			</table>
		</div> <!-- fee-table-wrapper -->
		
		<!-- 자산관리 -->
		<h3 class="fee-subtitle"><span class="red-line"></span>자산관리 수수료</h3>
		<div class="fee-table-wrapper">
			<table class="fee-table">
				<thead>
					<tr>
						<th>구분</th><th>사용자 부담금</th><th>가입자 부담금</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="center">수수료율(연)/액</td>
						<td class="table-content">
							1억 미만 : 0.20%<br>
						</td>
						<td class="table-content">
							1억 이상 : 0.18%<br>
						</td>
					</tr>
					<tr>
						<td class="center">부과기준</td>
						<td colspan="2" class="table-content">
							<p>매 계약 응당일</p> 
							신탁재산평가액평잔 x 수수료율
						</td>
					</tr>
					<tr>
						<td class="center">납입 주체</td>
						<td>사용자</td>
						<td>가입자</td>
					</tr>
					<tr>
						<td class="center">취득 자산</td>
						<td>현금</td>
						<td>신탁재산(적립금)</td>
					</tr>
					<tr>
						<td class="center">장기고객 할인율</td>
						<td colspan="2" class="table-content">
							2년차 : 10%<br> 
							3년차 : 12%<br>
							4년차 : 15%<br> 
							5년차 이후 : 20%
						</td>
						</tr>
				</tbody>
			</table>
		</div> <!-- fee-table-wrapper -->
		
		<h2 class="fee-title">개인형IRP</h2>
		<!-- 운용관리 -->
		<h3 class="fee-subtitle"><span class="red-line"></span>운용관리 수수료</h3>
		<div class="fee-table-wrapper">
			<table class="fee-table">
				<thead>
					<tr>
						<th>구분</th><th>가입자 부담금</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="center">수수료율(연)/액</td>
						<td class="table-content">
						<p>일시 부담금</p>
						1억 미만 : 0.3%(면제)<br>
						1억 이상 : 0.28%<br><br>
						<p>개인 부담금</p>
						1억 미만 : 0.08%(면제)<br>
						1억 이상 : 0.07%<br>
						</td>
					</tr>
					<tr>
						<td class="center">부과기준</td>
						<td class="table-content">
							<p>매 계약 응당일</p> 
							적립금 자산평가액 평균잔액×수수료율<br> 
							(매 계약응당일을 계산기준일로 하여 당해 계산기준일 현재의 적립금 자산평가액에 해당하는 운용관리 수수료율을 적립금 자산평가액 평잔에 곱하여 계산)
						</td>
					</tr>
					<tr>
						<td class="center">납입 주체</td>
						<td>가입자</td>
					</tr>
					<tr>
						<td class="center">취득 자산</td>
						<td colspan="2">신탁재산(적립금)</td>
					</tr>
					<tr>
						<td class="center">장기고객 할인율</td>
						<td class="table-content">
							2년차 : 10%<br> 
							3년차 : 12%<br>
							4년차 : 15%<br> 
							5년차 이후 : 20%
						</td>
						</tr>
				</tbody>
			</table>
		</div> <!-- fee-table-wrapper -->
		
		<!-- 자산관리 -->
		<h3 class="fee-subtitle"><span class="red-line"></span>자산관리 수수료</h3>
		<div class="fee-table-wrapper">
			<table class="fee-table">
				<thead>
					<tr>
						<th>구분</th><th>가입자 부담금</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="center">수수료율(연)/액</td>
						<td class="table-content">
						<p>일시/개인 부담금</p>
						1억 미만 : 0.2%(면제)<br>
						1억 이상 : 0.17%<br>
						</td>
					</tr>
					<tr>
						<td class="center">부과기준</td>
						<td class="table-content">
							<p>매 계약 응당일</p> 
							신탁재산평가액평잔 x 수수료율
						</td>
					</tr>
					<tr>
						<td class="center">납입 주체</td>
						<td>가입자</td>
					</tr>
					<tr>
						<td class="center">취득 자산</td>
						<td>신탁재산</td>
					</tr>
					<tr>
						<td class="center">장기고객 할인율</td>
						<td class="table-content">
							2년차 : 10%<br> 
							3년차 : 12%<br>
							4년차 : 15%<br> 
							5년차 이후 : 20%
						</td>
						</tr>
				</tbody>
			</table>
		</div> <!-- fee-table-wrapper -->
		<div class="notice">
			• 수수료 장기계약할인과 관련하여 시행일전(2012.10.9) 체결된 계약은 시행일 직전 계약응당일을 최초 계약일로 간주하여 변경된 계약을 적용합니다.<br>
			• 운용관리수수료 및 자산관리수수료 인하와 관련하여 시행일전(2013.4.5) 체결한 계약의 경우 시행일 이후 처음 도래하는 계약응당일부터 변경내용을 적용합니다.<br>
			• 개인형IRP의 경우 가입자가 퇴직급여제도에서 수령한 일시부담금을 최초 계약일(계약일에 입금액이 없는 경우 또는 시행일 이전 체결한 개인형IRP의 경우에는 
			시행일 이후 최초 부담금 입금일)로부터 15일 이내 계약해지 신청등록을 한 경우 해당 기간의 운용관리수수료 및 자산관리수수료를 면제합니다. 
			단, 최초 계약일(계약일에 입금액이 없는 경우에는 최초 부담금 입금일)로부터 15일 초과시에는 전 기간에 대해 운용관리수수료 및 자산관리수수료를 부과하며, 
			가입자가 자기의 부담으로 납입하는 개인부담금의 경우에는 운용관리수수료 및 자산관리수수료를 면제하지 않습니다(시행일:2013.4.5).<br>
			• 고용노동부가 인증한 사회적 기업에 대해서는 사회적 기업으로 확인된 시점부터 운용 및 자산관리수수료를 50% 할인 적용합니다.<br>
			  <p style="margin-left: 12px">단, 인증이 취소된 경우에는 취소일로부터 할인율을 적용하지 않습니다.</p>
			• 연금수령개시를 신청한 경우에는 신청일 직전 계약응당일 이후부터 운용관리수수료에 대하여 80% 할인율을 적용합니다.<br>
			• 인터넷 또는 모바일뱅킹을 통해 계좌 개설시 운용/자산관리수수료 면제됩니다<br>
			• 적립금자산 중 집합투자증권(ETF 제외) 자산평가액에 대해 운용관리수수료 10% 할인 적용합니다.
		</div>
	</div> <!-- 탭 컨텐츠(IRP) 끝 -->
	
	<!-- 탭 콘텐츠(chargeEx) -->
	<div id="chargeEx">
		<h2 class="fee-title">수수료 계산 예시</h2>
		<!-- 운용관리 -->
		<h3 class="fee-subtitle"><span class="red-line"></span>운용관리 수수료</h3>
		<div class="fee-table-wrapper">
			<table class="fee-table">
				<thead>
					<tr>
						<th rowspan="2" colspan="2">구분</th>
						<th colspan="2">확정급여형</th>
						<th colspan="2">확정기여형</th>
					</tr>
					<tr>
						<th>운용관리수수료</th>
						<th>자산관리수수료</th>
						<th>운용관리수수료</th>
						<th>자산관리수수료</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td rowspan="3" class="center">소기업</td>
						<td>초년도</td>
						<td>600,000</td><td>450,000</td><td>600,000</td><td>450,000</td>
					</tr>
					<tr>
						<td>2차년도</td>
						<td>594,000</td><td>445,500</td><td>594,000</td><td>445,500</td>
					</tr>
					<tr>
						<td>10년간누계</td>
						<td>7,242,600</td><td>5,431,950</td><td>7,242,600</td><td>5,431,950</td>
					</tr>
					<tr>
				      	<td rowspan="3" class="center">중기업</td>
				      	<td>초년도</td>
				      	<td>3,500,000</td><td>3,000,000</td><td>3,500,000</td><td>3,000,000</td>
				    </tr>
				    <tr>
				    	<td>2차년도</td>
				      	<td>3,465,000</td><td>2,970,000</td><td>3,465,000</td><td>2,970,000</td>
				    </tr>
				    <tr>
				    	<td>10년간누계</td>
				      	<td>42,248,500</td><td>36,213,000</td><td>42,248,500</td><td>36,213,000</td>
				    </tr>
				    <tr>
				      	<td rowspan="3" class="center">대기업</td>
				      	<td>초년도</td>
				      	<td>40,000,000</td><td>60,000,000</td><td>40,000,000</td><td>60,000,000</td>
				    </tr>
				    <tr>
				    	<td>2차년도</td>
				      	<td>39,600,000</td><td>59,400,000</td><td>39,600,000</td><td>59,400,000</td>
				    </tr>
				    <tr>
				    	<td>10년간누계</td>
				      	<td>482,840,000</td><td>724,206,000</td><td>482,840,000</td><td>724,260,000</td>
				    </tr>
				</tbody>
			</table>
		</div> <!-- fee-table-wrapper -->
		<div class="notice">
			
		</div>
	</div> <!-- 탭 콘텐츠(chargeEx) 끝 -->
</div>


<button id="topBtn" onclick="scrollToTop()">맨 위로 ↑</button>

<!-- 스크롤 이벤트 및 동작 스크립트 -->
<script>
//탭 변경 함수
	function showTab(tabId, btn) {
	  // 모든 탭 콘텐츠 숨기기
	  const tabs = document.querySelectorAll('.tab-container > div[id]');
	  tabs.forEach(tab => {
	    tab.style.display = 'none';
	  });
	
	  // 모든 버튼에서 active 클래스 제거
	  const buttons = document.querySelectorAll('.tab-menu button');
	  buttons.forEach(button => {
	    button.classList.remove('active');
	  });
	
	  // 선택한 탭 보이기
	  document.getElementById(tabId).style.display = 'block';
	  // 클릭한 버튼에 active 클래스 추가
	  btn.classList.add('active');
	}
	
	// 페이지가 처음 로드될 때 첫 번째 탭(DB) 보이기
	window.addEventListener('DOMContentLoaded', () => {
	  showTab('DB', document.querySelector('.tab-menu button'));
	});
	

  // 스크롤 감지해서 버튼 표시
  window.addEventListener("scroll", function () {
    const btn = document.getElementById("topBtn");
    btn.style.display = (window.scrollY > 200) ? "block" : "none";
  });

  // 부드럽게 최상단으로 이동
  function scrollToTop() {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  }
</script>
<div th:replace="~{fragments/chatbot :: chatbot}"></div>
<!-- footer -->
<div th:replace="~{fragments/footer :: mainFooter}"></div>
<script th:src="@{/js/chatbot.js}"></script>
</body>
</html>
